@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas/BebasNeueRegular.otf');
    src: url('../fonts/bebas/BebasNeueRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Simplifica';
    src: url('../fonts/simplifica/simplifica.ttf') format('truetype');
}
