@import 'bootstrap';

$ff-header: Bebas, Helvetica, sans-serif;
$ff-nav: Simplifica, 'Open Sans', sans-serif;
$ff-main: 'Open Sans', Helvetica, sans-serif;

$color-link: #52B3D9;
$color-hover: darken($color-link, 25%);

$red: #D64541;
$yellow: #F5AB35;
$violet: #674172;
$green: #1BBC9B;

html, body {
    -webkit-font-smoothing: antialiased;
    font-family: $ff-main;
    font-weight: 1.35em;
}

a {
    color: $color-link;

    &:hover, &:focus, &.active {
        color: $color-hover;
        text-decoration: none;
    }

    &:active {
        position: relative;
        top: 2px;
    }
}

.text-center { text-align: center; }

#wrapper {
    #tldr-toggle {
        font-size: 0.9em;

        .fa-toggle-on  { display: none; }
        .fa-toggle-off { display: inline-block; }

        &.on {
            .fa-toggle-on  { display: inline-block; }
            .fa-toggle-off { display: none; }
        }
    }


    #logo {
        font-family: $ff-header;
        font-size: 3em;
        letter-spacing: 0.1em;
        text-align: center;
        margin: 20px 0 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid #DDD;
        display: none;

        #logo-img {
            margin-left: 0;
        }
    }

    #navigation {
        text-align: center;
        margin: 10px 0 20px;

        ul {

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 30px;

                a {
                    text-transform: uppercase;
                    font-family: $ff-nav;
                    font-size: 2.5em;
                }
            }
        }
    }

    #footer {
        border-top: 1px solid #CCC;
        margin-top: 30px;
        padding: 20px
    }

    #content-area {
        text-align: center;
        display: none;

        #main-content {
            font-size: 1.5em;
            font-weight: 300;
            color: #555;
            line-height: 1.65em;
            text-align: justify;

            .display-photo {
                text-align: center;
                img {
                    width: 200px;
                }
                .short-desc {
                    font-style: italic;
                    font-size: 1.25em;
                    color: #999;
                    margin-bottom: 30px;
                }
            }

            img {
                width: 100%;
            }

            h1 {
                font-family: $ff-header;
                font-size: 2.2em;
                color: #333;
                text-align: center;
                margin: 1em 0;
            }

            h2 {
                font-family: $ff-nav;
                text-transform: uppercase;
                font-size: 2em;
                letter-spacing: 0.2em;
                text-align: center;

                &:before, &:after {
                    content: "—"
                }
            }

            blockquote {
                text-align: left;
                font-size: 1.2em;
                font-style: italic;
                margin: 20px 0;
                border-color: $color-link;
            }


            .other-links {
                text-align: center;
                margin-top: 30px;

                img {
                    width: 50px;
                }

                a {
                    margin-right: 30px;
                }
            }

            section {
                margin-bottom: 5em;

                h2 {
                    margin-bottom: 1em;
                }
                .p {
                    margin-bottom: 1.5em;
                }
            }
        }
    }

    #skills {

        &.tldr {
            text-align: center;

            .p {
                display: inline;
                span { display: none };

                .skill {
                    display: inline-block;
                    margin-bottom: 10px;
                }

                .github {
                    display: block;
                    margin-top: 30px;
                }
            }
        }

        .skill {
            display: inline-block;
            padding: 5px 15px 1px;
            color: #FFF;
            border-radius: 20px;
            text-transform: uppercase;
            line-height: 1.1em;
            font-family: $ff-header;
            font-weight: normal;
            font-size: 0.85em;

            &.back-end {
                border: 1px solid $red;
                color: $red;
            }

            &.front-end {
                border: 1px solid $yellow;
                color: $yellow;
            }

            &.provisioning {
                border: 1px solid $violet;
                color: $violet;
            }

            &.other {
                border: 1px solid $green;
                color: $green;
            }
        }
    }

    #experience {

        &.tldr {
            .desc {
                display: none;
            }
        }

        .job {
            margin-bottom: 30px;
            text-align: center;

            .title {
                font-size: 1.35em;
                font-weight: bold;
            }

            .tenure {
                font-style: italic;
                color: #999;
            }

            .desc {
                text-align: justify;
                margin-top: 30px;

                .highlight {
                    margin-top: 20px;
                }

                ul {
                    margin-top: 20px;
                }
            }
        }
    }

    #interest {
        text-align: center;
        ul {
            padding: 0;

            li {
                list-style-type: none;
                display: inline-block;
                border: 1px solid #CCC;
                padding: 2px 15px;
                margin: 0;
                border-radius: 20px;
                margin-bottom: 10px;
            }
        }
    }

    #education {
        text-align: center;
        .course {
            font-size: 1.2em;
            font-weight: bold;
        }

        .year {
            font-style: italic;
            color: #999;
        }

        .honors {
            margin-top: 30px;

            ul {
                padding: 0;

                li {
                    list-style-type: none;
                }
            }

            .fa {
                color: $yellow;
                margin-right: 10px;
            }
        }
    }
}

@media (min-width: 768px) {
    #wrapper {
        #logo {
            #logo-img {
                margin-left: 55px;
            }
        }
    }

}
