// $icon-font-path: '../fonts/bootstrap/';
@import 'bootstrap';

$color-header: #333;
$color-paragraph: #555;
$color-navigation: #DDD;
$color-navigation-hover: darken(#DDD, 50%);
$color-link: darken($color-paragraph, 10%);
$color-link-hover: darken($color-link, 10%);

$ff-header: "Helvetica Neue", Helvetica, sans-serif;
$ff-paragraph: Georgia, Calibri, serif;
$ff-navigation: Calibri, "Helvetica Neue", sans-serif   ;

