---
title: 'Ejay Canaria | Ejaydj'
---

#work
  %h2.page-title Ejaydj
  .fork-me
    %a{href: 'https://github.com/ejaypcanaria/ejaydj', target: '_blank'}
      .fa.fa-github
      Fork Me
  #skills
    .skill.back-end Ruby
    .skill.back-end RSpec
    .skill.back-end Object Oriented Design

  .desc
    A twitter bot that tweets songs from your music playlists on Spotify. Implemented using Twitter and Spotify API, let your music be heard! This is where music really never stops.

  .widget{style: 'text-align: center; margin-top: 30px'}
    %a{class: "twitter-timeline", href: "https://twitter.com/ejaydj", :'data-widget-id' => "535360024025907200"}
      Tweets by @ejaydj
    %script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
