---
title: Ejay Canaria | Blog
---

%h1.page-title Blog

%p
  I decided to blog in
  %a{href: 'https://medium.com/@ejaypcanaria', target: '_blank'} Medium.
  I love their fonts and its simplicity. It just works. This is where I share my experiences in life, in my profession and in my taste of music. You can checkout my collections in Medium below:
%p
  %a{class: "m-collection", href: "https://medium.com/ejays-stories", :'data-width' => "100%", :'data-border' => "false", :'data-collapsed' => "true"} Ejay’s Life Stories
%p
  %a{class: "m-collection", href: "https://medium.com/ejays-code-stories", :'data-width' => "100%", :'data-border' => "false", :'data-collapsed' => "true"} Ejay’s Code Stories
%p
  %a{class: "m-collection", href: "https://medium.com/ejays-music-stories", :'data-width' => "100%", :'data-border' => "false", :'data-collapsed' => "true"} Ejay’s Music Stories

%p
  So far my favourite stories are:
%p
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .medium-favourite
        %a{class: "m-story", href: "https://medium.com/@ejaypcanaria/c919af92a1b3", :'data-width' => "100%", :'data-border' => "false", :'data-collapsed' => "true"} How Did I Become A Ruby on Rails Developer
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      .medium-favourite
        %a{class: "m-story", href: "https://medium.com/ejays-stories/songs-in-times-of-frustration-c80010c55d5a", :'data-width' => "100%", :'data-border' => "false", :'data-collapsed' => "true"} Songs in Times of Frustration
%p
  Make sure you follow me on Medium if you have an account there. I'll follow you back!
