---
title: 'Ejay Canaria | Curriculum Vitae'
---

.display-photo
  = image_tag 'me.png', width: '200px'
  .short-desc
    Curiosity Follower,
    %br/
    Software Writer

%h1.page-title Curriculum Vitae

%section#skills
  %h2
    .fa.fa-code
    Skills
  .p
    I primarily use
    .skill.back-end Ruby
    .skill.front-end Javascript
    and
    .skill.front-end CSS
    to craft my work.
    .skill.back-end Rails
    is the framework of my choice.
    .skill.back-end RSpec
    and
    .skill.back-end Capybara
    %span are my tools for testing. I also dabble in server provisioning — I'm a
    .skill.provisioning Chef Solo
    cook and a
    .skill.provisioning Vagrant
    occasional user.

  .p
    I weave my design using
    .skill.front-end Bootstrap
    .skill.front-end Middleman
    is my buddy for static front end work. I'm also exploring the mysteries of client side MVC. I've been learning and hacking into
    .skill.front-end EmberJS
    for quite a while now.

  .p
    Aside from Ruby, I also have previous experiences in
    .skill.back-end Java
    and
    .skill.back-end Python
    I have passion in writing beautiful and easy to change codes. My knowledge in
    .skill.back-end Object Oriented Design
    and
    .skill.back-end Design Patterns
    are always handy to achieve that result. I also write
    .skill.back-end Test
    before or after the code has been written. Lately I'm engaging myself in
    .skill.back-end Service Oriented Design

  .p
    I <3
    .skill.other Git
    and
    .skill.other Github
    \. It makes version control a lot easier (yeah, I used CVS before >.<). I contribute to
    .skill.other open source
    \. I occasionally submit pull requests to existing projects but most of the time I contribute to my own. You can checkout my Github account
    %a{href: 'https://github.com/ejaypcanaria/', target: '_blank'} here.

%section#experience
  %h2
    .fa.fa-bicycle
    Experience
  .job
    .title Ruby on Rails Developer
    .company
      %a{href: 'http://www.serviceseeking.com.au/', target: '_blank'} ServiceSeeking.com.au

    .tenure January 2014 — Present
    .desc
      I work together with our team of developers here in the Philippines and the remote team in Sydney, Australia. I usually do
      %i full stack development.
      From user stories identification to front end and back end development using
      %i Rails and Javascript.
      I perform code reviews and occasional performance tuning. I also participate in our code design discussions.

      .highlight
        %b Key contributions:
        %ul
          %li Developed the customer relationship management tool for our business users.
          %li Implemented matched businesses directory which shows our users a list of matched businesses based on the job that they posted. It also includes various sort and filtering options. This is the primary page of our users.
          %li Implemented the new design for the business user dashboard. It also includes a new functionality to allow businesses to filter their leads.
          %li Rollout Sphinx delta indexing which removes the manual index rotation/refresh. This makes sure that search results are always up to date.

  .job
    .title Programmer Analyst
    .company ON Semiconductor
    .tenure April 2012 — January 2014
    .desc
      During my tenure I was involved in several projects, system enhancements and bug fixes. These include web applications, web services and native windows app written in Java, Python and Visual Basic. I perform requirements gathering from our customers in the Philippines, Malaysia and China. And then turn these requirements into working, releasable piece of software for the manufacturing site.

%section#education
  %h2
    .fa.fa-graduation-cap
    Education
  .course Bachelor of Science in Information Technology
  .school San Sebastian College Recoletos de Cavite
  .year June 2008 — March 2012
  .honors
    %b Honors:
    %ul
      %li
        .fa.fa-certificate
        Most Outstanding IT Graduate
      %li
        .fa.fa-certificate
        Best Student Programmer

%section#interest
  %h2
    .fa.fa-binoculars
    Interest
  %ul
    %li Full Stack Development
    %li Interface Design and User Experience
    %li Testing
    %li Service Oriented Design
    %li Remote Work
    %li Technical Books
    %li Self-help Books
    %li Acoustic Guitar

