---
title: 'Ejay Canaria | Curriculum Vitae'
---

.display-photo
  = image_tag 'me.png', width: '200px'
  .short-desc
    Curiosity Follower,
    %br/
    Software Writer

%h1.page-title Curriculum Vitae

%section#skills
  %h2
    .fa.fa-code
    Skills
  .p
    I primarily use
    .skill.back-end Ruby
    .skill.front-end Javascript
    and
    .skill.front-end CSS
    to craft my work.
    .skill.back-end Rails
    is the framework of my choice.
    .skill.back-end RSpec
    and
    .skill.back-end Capybara
    %span are my tools for testing. I also dabble in server provisioning — I'm a
    .skill.provisioning Chef Solo
    cook and a
    .skill.provisioning Vagrant
    occasional user.

  .p
    I weave my design using
    .skill.front-end Bootstrap
    .skill.front-end Middleman
    is my buddy for static front end work. I'm also exploring the mysteries of client side MVC. I've been learning and hacking into
    .skill.front-end EmberJS
    for quite a while now.

  .p
    Aside from Ruby, I also have previous experiences in
    .skill.back-end Java
    and
    .skill.back-end Python
    I have passion in writing beautiful and easy to change codes. My knowledge in
    .skill.back-end Object Oriented Design
    and
    .skill.back-end Design Patterns
    are always handy to achieve that result. I also write
    .skill.back-end Test
    sometimes before and sometimes after the code has been written. Lately I'm engaging myself in
    .skill.back-end Service Oriented Design

  .p
    I <3
    .skill.other Git
    and
    .skill.other Github
    \. It makes version control a lot easier (I used CVS before >.<). I contribute to
    .skill.other open source
    \. I occasionally submit pull requests to existing projects but most of the time I contribute to my own. You can checkout my Github account
    %a{href: 'https://github.com/ejaypcanaria/', target: '_blank'} here.


%h2
  .fa.fa-bicycle
  Experience

%h2
  .fa.fa-briefcase
  Projects

%h2
  .fa.fa-graduation-cap
  Education

%h2
  .fa.fa-binoculars
  Interest
