---
title: Ejay Canaria | Curiosity Follower, Software Writer
---

.container-fluid#wrapper
  .row#logo
    .col-xs-12
      Ejay
      = image_tag 'logo_hex.png', width: '130px'
      Canaria
  .row#main-content
    .col-xs-12
      .display-photo
        = image_tag 'me.png', width: '200px'
        .short-desc
          Curiousity Follower,
          %br/
          Software Writer.
  .row#navigation
    .col-xs-12
      %ul
        %li
          %a{href: '#'} About
        %li
          %a{href: '#'} CV
        %li
          %a{href: '#'} Blog
