---
title: Ejay Canaria | Curiosity Follower, Software Writer
---
.row
  .col-xs-12
    .display-photo
      = image_tag 'me.png', width: '200px'
      .short-desc
        Curiousity Follower,
        %br/
        Software Writer
    %p
      Hey there! I'm
      %b Ejay.
      I'm not sure what a good introduction is. Maybe let's just discuss why I'm a curiousity follower and what type of programmer I am.

    %h1 Curiousity Follower
    %p
      I've been a fan of self learning after graduating in college. When I saw the real world, I realized that there are tons of things I need to learn. I study things I find interesting and I fell in love in reading electronic books.
    %p
      I followed my curiousity since then. As the old adage said,
    %blockquote
      Life is a continuous process of learning.
    %p
      So, don't stop.

    %h1 Software Writer
    %p
      I code for human - from user experience and under the hood. I believe in KISS (Keep It Simple, Stupid) and YAGNI (You Ain't Gonna Need It). Beauty is just simplicity. I love to write readable codes. Codes that do not need comments. Codes that explain itself.

    %blockquote
      Good code is like good joke - it needs no explanation.

    %p
      I'm still in the process of improving it day by day and I'm getting there.
